.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-color: #0D7C66;
  --secondary-color: #6c757d;
  --light-bg: #f8f9fa;
}

body {
  padding-top: 76px;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #EAFAEA !important;
}

.navbar {
  backdrop-filter: blur(10px);
  background-color: #497D74 !important;
  padding: 15px 0;
  transition: all 0.3s ease;
}
